*.iml
.kotlin
**/build/
xcuserdata
!src/**/build/
local.properties
.idea/
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.gradle/
# Environment files
#composeApp/.env
#env.local
#.env.development
#.env.production
#.env.staging

# Supabase
.supabase/
.md/
# Secrets
#secrets/
